{% extends 'generator/layout.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, sapiente repellendus odio laboriosam perspiciatis
    voluptatem. Dolorem illum omnis iusto voluptatem distinctio voluptatum unde. Rem, sequi dolorum? Sunt odio possimus
    ea sit dicta quo, expedita, esse nostrum voluptatibus fugit maxime consequuntur molestiae itaque cupiditate, illo
    quis tempora quae odit. Est error voluptate quasi doloremque! Quaerat, sed? Placeat provident accusamus aut
    explicabo impedit eos debitis laudantium reiciendis! Perferendis corporis obcaecati commodi animi cumque illum
    nostrum voluptas dolore placeat quas. Voluptatem laborum quasi eos beatae voluptatibus, corrupti eum veritatis
    dolore optio rerum consectetur qui sequi facilis culpa temporibus expedita laudantium itaque possimus suscipit earum
    magni aspernatur magnam! Molestiae nam quia, temporibus inventore distinctio officiis asperiores facere, quae magnam
    illo at, vitae tempore repellendus sapiente accusamus quod similique nisi. Libero numquam dolorem, quisquam
    molestiae temporibus doloremque autem natus? Minus eos dolorum iure perferendis eius doloremque, deserunt vitae
    nostrum vero perspiciatis omnis quo adipisci magnam earum, ea unde nesciunt. Odit cum minima ut dolorum ad error
    ullam beatae, exercitationem consequatur sed, voluptatibus unde autem numquam. Inventore quis nostrum ducimus,
    cupiditate explicabo aliquid amet animi nesciunt! Eveniet autem necessitatibus fugit. Error non recusandae itaque
    earum nulla fugiat perferendis quam, inventore accusamus? Recusandae perspiciatis ducimus omnis temporibus cum!
    Quasi soluta voluptas in quaerat corporis voluptate, ipsam dolorem neque quis culpa? Quaerat, similique itaque
    veritatis nihil corrupti amet velit, laborum quibusdam, eligendi cumque aliquid fugiat tenetur dolores inventore
    minima eveniet. Fuga in modi vel molestias eligendi ipsam, neque delectus, eaque ea officiis, exercitationem
    quisquam tenetur quam enim odit sunt doloremque. Velit tenetur error exercitationem asperiores. Ut aliquam
    repudiandae distinctio vitae expedita necessitatibus nisi. Rem reprehenderit tempora, cumque sapiente natus,
    praesentium dolore accusamus odit aliquam cupiditate repellat deleniti, necessitatibus sed nam officia consequuntur
    provident iusto labore facere ipsam doloremque eos ex! Voluptatum ipsam porro incidunt magnam ipsa rem sapiente?</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis dolorum, quia adipisci nihil voluptatibus
    unde itaque consequuntur, laborum a blanditiis saepe? Nesciunt porro beatae fuga? Beatae doloribus delectus laborum
    similique amet voluptatum magni distinctio, iste tempore? Quam, dolorem doloribus tempore distinctio ea tempora eius
    a recusandae temporibus quia suscipit dolor animi sit consequuntur sunt repellat eligendi deleniti quae fugit at
    natus fugiat. Odio placeat at dolorum quasi aperiam nobis suscipit nesciunt et magni libero sapiente assumenda
    quaerat ratione qui iusto veniam, corrupti explicabo in! Totam velit optio delectus dolores sint, adipisci
    asperiores repudiandae illum deleniti, nobis repellat harum dolore.</p>
{% endblock %}