{% extends 'generator/layout.html' %}

{% block content %}
<div class="col-md-4 offset-md-4">
    <form action="{% url 'password' %}" class="card card-body p-5" style="background-color: #121212">
        <!-- Ponemos password entre llaves para que nos envie al url -->
        <h1 class="h2">Password Generator</h1>

        <label for="length">Select the length of your password: </label>
        <select name="length" id="length" class="form-control">
            <option value="6">6 Characters</option>
            <option value="7">7 Characters</option>
            <option value="8">8 Characters</option>
            <option value="9">9 Characters</option>
            <option value="10">10 Characters</option>
            <option value="11">11 Characters</option>
            <option value="12">12 Characters</option>
            <option value="13">13 Characters</option>
            <option value="14">14 Characters</option>
            <option value="15">15 Characters</option>
            <option value="16">16 Characters</option>
        </select>

        <div class="form-check form-switch my-2">
            <label for="uppercase" class="form-check-label">Uppercase</label>
            <input type="checkbox" name="uppercase" id="uppercase" class="form-check-input">
        </div>
        
        <div class="form-check form-switch my-2">
            <label for="special" class="form-check-label">Special characters</label>
            <input type="checkbox" name="special" id="special" class="form-check-input">
        </div>
        
        <div class="form-check form-switch my-2">
            <label for="numbers" class="form-check-label">Numbers</label>
            <input type="checkbox" name="numbers" id="numbers" class="form-check-input">
        </div>

        <button class="btn btn-primary">Generate Password</button>
    </form>
</div>
{% endblock %}