<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-color: #212121">
    <!-- Así incluimos el navbar para que todas las páginas lo tengan ya por defecto -->
    {% include 'generator/partials/_navbar.html' %}

    <!-- Así podemos crear un template general que se pueda reutilizar en todos los templates -->
    <div class="container p-5 text-light">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>